<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- personal css -->
<link rel="stylesheet" href="../CSS/style.css">
    <title>Shop</title>
</head>
<body>
         

    <header class="fixed-top">
        <nav class="sticky-top">
            <a href="../index.html">Home</a>
            <a href="../index.html#about">About</a>
            <a href="/">Shop</a>
            <a href="#menu">Menu</a>
            <a href="#contact">Contact</a>
            </nav>

        <h1>Shop</h1>
        </header>


        <main>
       
<section>

      <div class="container">
            <div class="row">
                <h2 id="main-header" class="text-center pt-5 pb-3">MENU</h2>

                <div id="menu" class="col-sm-4">
<img src="https://i.postimg.cc/G28stvtq/burger-4145977-1280.jpg" alt="Cheese Burger">
<h5>Item: Cheese Burger</h5>
<h6>Price: R30</h6>
                </div>

                <div id="menu" class="col-sm-4">
<img src="https://i.postimg.cc/gchZPyf0/sandwich-5930496-1280.jpg" alt="Beef Burger">
<h5>Item: Beef Burger</h5>
<h6>Price: R34</h6>
                </div>

                <div id="menu" class="col-sm-4">
<img src="https://i.postimg.cc/MKWKrywN/sandwich-5939093-1280.jpg" alt="Chicken Burger">
<h5>Item: Chicken Burger</h5>
<h6>Price: R34</h6>
                </div>

                <div id="menu" class="col-sm-4">
<img src="https://i.postimg.cc/qRTd6TMS/pizza-1317699-1280.jpg" alt="Pizzar">
<h5>Item: Pizza</h5>
<h6>Price: R50</h6>
                </div>

                <div id="menu" class="col-sm-4">
<img src="https://i.postimg.cc/sfMtfxcx/strawberry-2727808-1280.jpg" alt="Milk_Shake">
<h5>Item: Milk Shake</h5>
<h6>Price: R20</h6>
                </div>

                <div id="menu" class="col-sm-4">
<img src="https://i.postimg.cc/gk9BYDjt/coffee-2714970-1280.jpg" alt="Coffee">
<h5>Item: Coffee</h5>
<h6>Price: R20</h6>
                </div>

            </div>
          </div>

</section>
      
        </main>
        
        <footer>
      <div id="contact"></div>
        </footer>

    <!-- nav.js -->
<script src="../JS/nav.js"></script>
    <!-- contact.js -->
    <script src="../JS/contact.js"></script>



</body>
</html>